<head>
  <title>Prello</title>
  <link href="./assets/vendor/nucleo/css/nucleo.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/solid.css" type="text/css" integrity="sha384-osqezT+30O6N/vsMqwW8Ch6wKlMofqueuia2H7fePy42uC05rm1G+BUPSd2iBSJL" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/regular.css" type="text/css" integrity="sha384-4e3mPOi7K1/4SAx8aMeZqaZ1Pm4l73ZnRRquHFWzPh2Pa4PMAgZm8/WNh6ydcygU" crossorigin="anonymous">
  <link href="./assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Argon CSS -->
  <link type="text/css" href="./assets/css/argon.css?v=1.0.1" rel="stylesheet" type="text/css">
  <!-- Docs CSS -->
  <link type="text/css" href="./assets/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
  <div id="render-target"></div>
   <!-- Core -->
   <script src="/public/assets/vendor/jquery/jquery.min.js"></script>
   <script src="/public/assets/vendor/popper/popper.min.js"></script>
   <script src="/public/assets/vendor/bootstrap/bootstrap.min.js"></script>
   <script src="/public/assets/vendor/headroom/headroom.min.js"></script>
   <!-- Argon JS -->
   <script src="/public/assets/js/argon.js?v=1.0.1"></script>

   <script src="https://p.trellocdn.com/embed.min.js"></script>
   <script src="https://trello.com/1/client.js?key=a659f7ab20ba8e24863af40f4210b09d"></script>
</body>
