
.dropdown-item{
    cursor: pointer;
}
#navbar-main{
    position: fixed !important;
    width: 100%;
    z-index: 10;
    padding: 5px !important;
}
.nav-link-icon{
    padding: 10px 4px 10px 4px !important;
}

nav{
    height: 55px;
}

#searchBar{
    margin-top: 2%;
}
nav .notifications .badge-danger{
    color: #ffffff;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 5;
}
nav .notifications {
    position: relative;
}
.section-profile-cover {
    height: 400px !important;

}
.profile-form-container{
    max-width: 500px !important;
    background-color: rgba(50, 50, 93, .11);
    padding-top: 25px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #8898aa;
    margin-bottom: 50px;
    margin-top: 50px;
}
.container{
    position: relative;
}

#boardDisplay{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-position-y: bottom;
}

[data-react-beautiful-dnd-droppable="0"]{
    margin-top: 5% ;
}



#navBarBoard {
    color: transparent;
    margin-top: 55px !important;
}

#toggleButton {
    position: absolute;
    right: 10px;
    color: white;
}
nav {
    position: fixed !important;
    width: 100%;
    z-index: 0;
    height: 55px;
    padding: 5px !important;
}
.nav-link-icon{
    padding: 10px 4px 10px 4px !important;
}

#containerTeam{
}

#containerMembers{
}

.divSettings{
    color: white;
}

#divList{
    overflow-x: auto;
    overflow-y: auto;
    float: left;
    width: 100%;
    padding-top: 1%;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: relative;
    float: right;
    top: 5%;
    right: 0;
    background-color: lightgray;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    margin-top: 55px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    border-radius: 3px;
    font-weight: 700;
    line-height: 20px;
    background-color: transparent ;
    margin: 10px;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#unknowDisplayBoard{
    background-color: lightgray;
    height: -webkit-fill-available;

}

.bigMessage{
    display: block;
    padding-top: 15%;
    text-align: center;
    max-width: 600px;
    color: #6b808c

}

#unknown{
    margin-left: 20%;
}

/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5e72e3;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5e72e3;
}

.myAddListButton {
    margin-top: 6%;
    margin-left: 40%;
}

.cardactiondiv{
    float: right;
}

.actionUl{
    list-style-type: none;
}

.cardButtonEdit{
    width: 100%;
}

.modalCard  .modal-dialog {
    max-width: 800px;
}

.formCardModal{
    float:left;
    width: 70%;
    margin-left: 10px;
}

.modalContentCard{
    width: 100%;
}

li{
    margin: 20px 0;
}

.cardForOptions{
    position: absolute;
    z-index: 1;
}

.cardButtonEditLabel{
    height: 15%;
    width: 100%;


}

.cardButtonEditDeadline{
    width: 100%;
    height: 50%;
}

.buttonLabel{
    width: 100%;
    color: white;
}

.cardLabelsDiv{
    margin-top: 12%;
}
.profile-picture {
    background-color: #5e72e4;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
}
.profile-picture.size-sm{
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    box-shadow: 1px 1px 8px 1px #adb5bd;
}
.profile-picture.size-lg{
    height: 200px;
    line-height: 200px;
    width: 200px;
    letter-spacing: 10px;
    font-size: 80px;
    box-shadow: 1px 1px 8px 0px #21252978;
}
.card-profile-image {
    margin-top: -90px;
    transition: 0.1s;
    cursor: pointer
}
.card-profile-image:hover {
    margin-top: -100px;
    transition: 0.2s
}
.progress.card-progress{
    margin-top: 20%;
}

.btnNameMember {
    margin-top: -40%;
    margin-left: -30%;
    border-color: blue;
}

.userForCard{
    width: fit-content;
    margin-left: 25px;
    margin-top: 5%;
    display: flex;
}

.userForCard .profile-picture{
    float: left;
}

.userForCard span{
    float: left;
}

.profilInCard .profile-picture{
    width: fit-content;
    float: left

}

#listComment{
    max-width: 100%;
    word-break: break-all;
}

.buttonLabel{
    width: 88%
}

@media (max-width: 1000px) {
    .navBarBoard {
        display: none;
    }
}


