#dashboard .column{
    padding-top: 75px;
    height: 100%;
}
#dashboard>.container{
    height: 100%;
    width: 100%;
    max-width: none;
    position: fixed;
}
#dashboard>.container>.row{
    height: 100%;
}
#dashboard #boards{
    box-shadow: 2px 0px 10px 1px #172b4d;
    background-color: #f4f5f7;
    overflow-y: scroll;
    padding-bottom: 20px;
}
#dashboard .custom-control-label{
    line-height: 1.7 !important;
}

#dashboard .board-card {
    margin-top: 10px;
    margin-bottom: 10px;
}
#dashboard .team-nav .nav-item{
    width: 100%;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding-right: 0px;
}
#dashboard #teams{
    overflow-y: scroll;
    padding-bottom: 30px;
}

#dashboard .team-nav .nav-item:hover .dropdown{
    display: block !important;
}
#dashboard .board-card:hover .dropdown{
    display: block !important;
}
#dashboard .board-card .dropdown{
    position: absolute;
    top: 10px;
    right: 0;
}
#dashboard .thumbnail{
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0px grey;
}
#dashboard .thumbnail.active{
    box-shadow: 0px 0px 8px 3px #1f2b6f;
}
#dashboard .board-modal .modal-dialog {
    max-width: 1000px;
}
#dashboard .backgrounds{
    overflow-y: scroll;
    height: 264px;
    box-shadow: -1px 2px 7px 0px rgba(50, 50, 93, .11);
}
#dashboard .board-card .card-stats{
    background-size: cover;
}
#dashboard .board-card .card-body{
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.66);
}